.ğ–‘ğ–Šğ–Œğ–Šğ–“ğ–‰ğ–”ğ–‹ğ–Œğ–†ğ–’ğ–Š{
    color: rgb(253, 0, 0);
}
body{
    text-align: center;
    background-color: rgb(122, 27, 160);
    background-color: cover;
    justify-content: center;
    position: relative;
    display: block;
    



}
li{
    text-align: left;
}
.pou{
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}